<<<<<<< HEAD
#top {background-image: url(../img/people.jpg);
margin: 5%;
}

body {
    border: 2px solid black;
}
.introduction {color: darkred}
.jobs{color:pink}
=======
#top {background-image: url(../img/computer2.jpg);
    margin: 5%;}
    .introduction {color: darkred}
    .jobs{color: navy}
    
>>>>>>> task3
