    h4 {
      font-size: 20px;
      color: #434343;
      font-family: 'Farro', sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
  }
  
  hr {
    border:0;
    border-top: 3px solid #eee;
    margin: 20px 0;
    width: 5%;
    margin-top: 10px; 
    margin-bottom: 25px;
    text-align: left; 
  }
  
  
  body {
    background-color: rgb(21, 219, 199);
    color: #666;
    font-family: "Lato",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }

  form {
    width: 95%;
    
  }
  
  input[type="text"],
  input[type="email"]{
    background: #f6f6f6;
    border:  none;
    box-shadow: none;
    color: #999;
    height: 40px;
    margin-bottom: 15px;
    padding: 0 20px;
    width: 100%;
    outline: none;
  }

  textarea{
    background: #f6f6f6 none repeat scroll 0 0;
    border: medium none;
    height: 100px;
    padding: 15px 20px;
    width: 100%;
    outline: none;
  }

  .contact-us-area {
    width: 85%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  
  .customer-login {
    background: #fff;
    padding: 40px;
  }

  .submit-button {
    background: #c87065 none repeat scroll 0 0;
    color: #fff;
    height: 35px;
    line-height: 35px;
    padding: 0 30px;
    text-transform: uppercase;
    margin-top: 15px;
    border: none;
    outline: none;
  }
  
  
  
  
  